@import 'variables';

.apresentationas {
    height: 100vh;

    .apresentationa-content {
        display: flex;
        justify-content: space-between;
        padding: 4rem 5rem;
        h1 {
            font-family:$font-sec;
            color: $color-sec;
            font-size: 36px;
            strong {
                font-weight: 900;
            }
        }
        button {
            background-color: $color-main;
            color: $color-sec;
            border: none;
            padding: 1rem;
            width: 10rem;
            border-radius: 5px;
            font-size: $size-font-main;
            font-weight: 600;
        }
    }
    
    .sections-apresentationa {
        display: flex;
        justify-content: center;
        gap:5rem;
        section {
            width: 20rem;
            padding: 5rem;
            background-color: #FFFFFF;
            border-radius: 5px;
            border: 1px solid #F5F5F5;
            h1 {
                font-family: $font-sec;
                font-size: 26px;
            }
            p {
                font-family: $font-main;
            }
        }
    }

}

