$size-template: 36px;

.header {
    
    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .links-middle {
            display: flex;
            gap: 5rem;
        }
        .remove-links {
            text-decoration: none;
            color: black;
        }
        .links {
            font-size: $size-template;
        }
    }
    .hero-section {
        .hero-section-content {
            display: flex;
            justify-content: center;
            align-items: center;
            .content {
                width: 500px;
            }
        }
    }


}